.o-container {
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1320px;
  
  display: grid;
  width: 100%;
  margin: 0 auto;

  @include tablet-or-larger {
    width: var(--container-md);
  }

  @include small-laptop-or-larger {
    width: var(--container-lg);
  }

  @include laptop-or-larger {
    width: var(--container-xl)
  }

  @include large-monitor-screen {
    width: var(--container-xxl);
  }

  &--centered {
    justify-content: center;
    justify-items: center;
  }
}
