@import "open-props/colors-hsl";

@mixin light-mode-colors {
  --palette--surface-1: var(--cyan-0);
  --palette--surface-2: var(--cyan-1);
  --palette--surface-3: var(--cyan-11);
  --palette--surface-4: var(--cyan-12);
  --palette--surface-dark-on-dark: var(--cyan-0);
  --palette--surface-dark: var(--cyan-12);
  --palette--surface-2--transparent: hsl(var(--cyan-1-hsl) / 80%);
}

@mixin dark-mode-colors {
  --palette--surface-1: var(--cyan-12);
  --palette--surface-2: var(--cyan-11);
  --palette--surface-3: var(--cyan-1);
  --palette--surface-4: var(--cyan-0);
  --palette--surface-dark-on-dark: var(--cyan-6);
  --palette--surface-dark: var(--cyan-12);
  --palette--surface-2--transparent: hsl(var(--cyan-11-hsl) / 80%);
}

:root {
  @include light-mode-colors;
}

body {
  @media (prefers-color-scheme: dark) {

    &:not([data-theme-mode-value]),
    &[data-theme-mode-value='dark'] {
      @include dark-mode-colors;
    }

    &[data-theme-mode-value='light'] {
      @include light-mode-colors;
    }
  }

  @media (prefers-color-scheme: light) {

    &:not([data-theme-mode-value]),
    &[data-theme-mode-value='light'] {
      @include light-mode-colors;
    }

    &[data-theme-mode-value='dark'] {
      @include dark-mode-colors;
    }
  }
}
