@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  src:
    local('Oswald SemiBold'),
    local('Oswald-SemiBold'),
    url('../fonts/oswald-semibold.woff2') format('woff2');
}
