.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3) var(--size-5);

  &__logo {
    height: var(--size-px-8);
  }

  &__logo-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__brand {
    color: var(--font--color-primary);
    margin-inline: var(--size-3);
    font-family: var(--font--heading);
    font-size: var(--font-size-4);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    list-style: none;
    margin-left: var(--size-5);
  }

  &__link {
    text-decoration: none;
    font-size: var(--font-size-2);
    color: var(--font--color-primary);

    &:hover {
      color: var(--font--color-link);
    }
  }

  &__hamburger {
    display: none;
  }

  &__hamburger-bar {
    display: block;
    background-color: var(--palette--surface-4);
    width: var(--size-px-5);
    height: var(--size-px-1);
    border-radius: var(--radius-6);
    margin: var(--size-px-1) auto;
    transition: all 0.3s ease-in-out;
  }
}

@include phone-or-smaller {
  .c-navbar {
    &__menu {
      position: fixed;
      left: -100%;
      top: var(--size-10);
      flex-direction: column;
      background-color: var(--palette--surface-2);
      width: 100%;
      padding: 0;
      border-radius: var(--radius-2);
      text-align: center;
      transition: 0.3s;
      box-shadow: var(--shadow-3);

      &.is-open {
        left: 0;
      }
    }

    &__item {
      margin: var(--size-3) 0;
      padding: 0;
    }

    &__hamburger {
      display: block;
      cursor: pointer;

      &.is-open {
        & .c-navbar__hamburger-bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        & .c-navbar__hamburger-bar:nth-child(2) {
          opacity: 0;
        }

        & .c-navbar__hamburger-bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
