.c-resume {
  display: flex;
  flex-direction: column;
  justify-self: center;

  @include tablet-or-larger {
    width: var(--container-sm);
  }

  @include small-laptop-or-larger {
    width: var(--container-md);
  }

  &__headline {
    font-family: var(--font--heading);
    letter-spacing: var(--font-letterspacing-1);
    align-self: center;
    text-align: center;
  }

  &__section-headline {
    font-size: var(--font-size-4);
  }

  &__links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--size-4);

    a {
      color: var(--font--color-primary);

      &:hover {
        color: var(--font--color-link);
      }
    }
  }

  &__summary-section {
    margin-bottom: var(--size-4);
  }

  &__technical-summary-section {
    margin-bottom: var(--size-4);
  }

  &__experience-section {
    margin-bottom: var(--size-4);
  }

  &__education-section {
    margin-bottom: var(--size-4);
  }

  &__fold-toggle {
    cursor: pointer;

    &:hover {
      color: var(--font--color-link);
    }

    &::before {
      content: '';
      display: inline-block;

      border-top: var(--border-size-3) solid transparent;
      border-bottom: var(--border-size-3) solid transparent;
      border-left: var(--border-size-3) solid currentColor;

      vertical-align: middle;
      margin-right: var(--size-2);
      transform: translateY(var(--size-px-00));

      transition: transform 0.1s var(--ease-out-1);
    }

    &.is-closed::before {
      transform: rotate(90deg) translateX(var(--size-px-00));
    }
  }

  &__foldable-content {
    &.is-closed {
      display: none;
    }
  }
}
