:root {
  --palette--primary-light: var(--teal-0);
  --palette--primary-dark: var(--teal-12);

  --palette--secondary-light: white;
  --palette--secondary-dark: black;

  --palette--highlight-light: var(--teal-3);
  --palette--highlight-dark: var(--teal-11);
}
