@import 'metropolis-font';
@import 'oswald-font';

:root {
  --font--heading: 'Oswald', var(--font-industrial);
  --font--body: 'Metropolis', var(--font-neo-grotesque);

  --font--weight-light: 200;
  --font--weight-regular: 400;
  --font--weight-bold: 800;

  --font--color-primary: var(--teal-12);
  --font--color-secondary: var(--teal-10);
  --font--color-link: var(--teal-7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font--color-primary: var(--teal-0);
    --font--color-secondary: var(--teal-2);
    --font--color-link: var(--teal-4);
  }
}
