---
title: Ryan Hageman | About
---

.o-container.o-container--centered
  
  h1.o-page__main-heading About

  .c-about
    = image_tag "profile.jpg", alt: "Profile Picture", class: "c-about__profile-pic"

    .c-about__text
      p Ever since I was a kid, I’ve loved writing programs. I started my
        career as a Paramedic for 911 in New Orleans. After that, I moved up
        to work as a Flight Paramedic in the Caribbean. These days, I’m also
        a film and TV Paramedic working with studios like Marvel, Disney,
        Netflix, and Warner Bros. I’ve handled everything from hiring and
        scheduling to managing high-pressure situations on set.

      p While I loved the adrenaline and the chance to help people, I was
        ready for a change. I wanted a career that not only paid the bills
        but also sparked my passion for technology. That’s when I decided to
        dive into software engineering. What started as a quest for
        stability quickly turned into a rewarding journey in tech.

      h2.c-about__heading What I Do

      p I build web applications and enjoy every part of the process. My
        main tools are Ruby on Rails and React. I do full-stack development
        with a side of DevOps, and design. I’ve worked on all sorts of
        projects, learning from different codebases and making complex
        systems easy to use.

      p I’ve also taught web development, sharing my knowledge of Rails,
        advanced Rails, and React with students eager to enter the tech
        world. I really like to help others build their skills and launch
        their careers.

      h2.c-about__heading Highlights

      ul
        li.c-about__li
          strong.c-about__li--heading UC Berkeley ERSO HR App: 
          | I developed a comprehensive HR application using Ruby on Rails.
            I worked as the sole developer, directly with the client and their
            team to create a solution that made their workflows smoother and
            more efficient.

        li.c-about__li 
          strong.c-about__li--heading AI and Computer Vision with Grok & Banter: 
          | My first developer role involved working with AI and computer
            vision. It was an exciting start and a great learning experience.

        li.c-about__li
          strong.c-about__li--heading Tumor DNA Analysis Tools for Caris: 
          | I helped redesign and build internal tools for a company that
            creates custom cancer treatments. The new tools made it easier to
            access and use critical data, improving the way they develop
            personalized cancer treatments.

        li.c-about__li
          strong.c-about__li--heading Teaching Web Development: 
          | I’ve led courses in Rails, advanced Rails, and React. It’s been
            amazing to see students grow their skills and prepare for their
            tech careers.

      h2.c-about__heading What’s Next

      p I’m all about creating innovative web applications and making tech
        work better for everyone. I’m looking for opportunities where I can
        use my skills in Ruby on Rails, React, and AI to solve real-world
        problems and build impactful solutions.

      h2.c-about__heading Let’s Connect

      p I’d love to hear from you if you’re interested in working together
        or just want to chat about technology. Feel free to reach out
        through <a href="https://www.linkedin.com/in/ryanjhageman/" target="_blank">
        LinkedIn</a> or <a href="mailto:ryan@ryanhageman.dev">email</a>. Let’s make
        something stellar!

